.common_wrap{
    width: 70%;
    min-height: 35%;
    margin: 150px auto;
    background: var(--common-wrapper);
    padding: 15px;
    box-shadow: inset 0px 0px 5px 2px rgb(0 0 0 / 50%);
    --animate-duration: 0.5s;
// #e9cc7b;
    .content{
        // min-width: 80%;
        // margin: 0 auto;
        // background: #f8f8f8;
        // padding: 15px;
        // min-height: 50%;
        .content_title{
            font-family: 'Poppins',sans-serif;
            text-transform: uppercase;
            .title_heading{
                font-size: 1.5rem;
            }
        }
    }

}