

:root{
    --cta-bg: #664d03;
    --headerBg: #202122;

}

.theme-light{
    --wlcm-cta:#664d03;
    --common-wrapper:#e9cc7b;
    --common-text:linear-gradient(0deg, #ee0e0e66, transparent);
  
    --app-wrapper-bg: linear-gradient(0deg, #f0b80d66, transparent);
}

.theme-dark{
    --wlcm-cta:#ececec;
    --common-wrapper:#7a868d;
    --common-text:inear-gradient(to left, $ --headerBg, $endColor);
    
    --app-wrapper-bg:linear-gradient(0deg, #196e8fb5, #020f1c);
}